.separator {
  &::before {
    box-sizing: content-box;
    content: "";
    display: block;
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 1px;
    border: inherit;
    border-top-width: 1px;
    transform-origin: left top;
  }
}
