* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: solid 0 transparent;
}

body {
  font-family: "Arial", sans-serif;
  line-height: 1.4;
}

img {
  max-width: 100%;
}

p {
  margin: 0;
}
